@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.abs {
  position: absolute;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: lightblue;
}

body {
  bottom: 0;
  font-family: "Titillium Web", sans-serif;
  color: white;
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: 0px 0px;
  overflow: hidden;
}

.container {
  position: absolute;
  background-color: #596e73;
  height: 720px;
  width: 1280px;
}

.input_video {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.input_video.selfie {
  transform: scale(-1, 1);
}

.output_canvas {
  position: absolute;
  /* height: 720px;
  width: 1280px; */
  max-width: 100%;
  max-height: 100%;
  left: 0;
  top: 0;
}
.output_canvas_for_save {
  position: absolute;
  /* height: 720px;
  width: 1280px; */
  max-width: 100%;
  max-height: 100%;
  left: 0;
  top: 0;
}

.logo {
  bottom: 10px;
  right: 20px;
}
.logo .title {
  color: white;
  font-size: 28px;
}
.logo .subtitle {
  position: relative;
  color: white;
  font-size: 10px;
  left: -30px;
  top: 20px;
}

.loading {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  backface-visibility: hidden;
  justify-content: center;
  opacity: 1;
  transition: opacity 1s;
}
.loading .message {
  font-size: x-large;
}
.loading .spinner {
  position: absolute;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
  border: 32px solid #bebebe;
  border-top: 32px solid #3498db;
  border-radius: 50%;
}

.loaded .loading {
  opacity: 0;
}

.shoutout {
  left: 0;
  right: 0;
  bottom: 40px;
  text-align: center;
  font-size: 24px;
  position: absolute;
}

#back_button{
  position: absolute;
  left: 0px;
  top: 0;
  white-space:nowrap;
}

#pen_mode{
  position: absolute;
  left: 100px;
  top: 0;
}

#save_button{
  position: absolute;
  left: 200px;
  top: 0;
  color:black;
}
#fps_display{
  position: absolute;
  left: 300px;
  top: 0;
  color:black;
  background-color: white;
  white-space:nowrap;
}
#susresBtn{
  position: absolute;
  left: 350px;
  top: 0;
  color:black;
}
#loudness{
  position: absolute;
  left: 500px;
  top: 0;
  color:black;
  background-color: white;
  white-space:nowrap;
}
#start_button{
  position: absolute;
  color:black;
  background-color: white;
}

#fullOverlay{
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: rgba(100, 100, 100, .8);
  z-index: 2147483647;
}
.start_message{
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  user-select: none; /* CSS3 */
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Safari、Chromeなど */
}
